#master-mosaic {
	content: "13.1.0";
}
.u01 {
	margin: 0px -19px; padding: 0px; width: 1012px; height: 108px; color: rgb(51, 51, 51); float: left; position: relative; z-index: 7;
}
a.u01nav {
	text-decoration: none !important;
}
a.u01nav:hover {
	text-decoration: none !important;
}
.u01 a {
	text-decoration: none;
}
.u01 a:hover {
	text-decoration: underline !important;
}
ul.u01nav {
	background: none; padding: 5px 0px 0px 205px; width: 788px; float: left; position: relative;
}
.u01nav > li {
	float: left;
}
.f01r1 .u01 {
	background: none; margin: 0px auto; float: none; filter: none;
}
.u01::before {
	background: linear-gradient(rgb(238, 238, 238) 0%, rgb(255, 255, 255) 100%); left: 0px; top: 0px; width: 100%; height: 52px; display: block; position: absolute; max-width: 1600px; content: " ";
}
.f01r1 .f01bg4u01::before {
	background: linear-gradient(rgb(238, 238, 238) 0%, rgb(255, 255, 255) 100%); left: 0px; top: 0px; width: 100%; height: 52px; display: block; position: absolute; max-width: 1600px; content: " ";
}
.f01r1 .u01::before {
	display: none;
}
.u01z1 {
	background: rgb(255, 255, 255); width: 200px; height: 10px; bottom: -5px; display: none; position: absolute; z-index: 3;
}
.u01hover .u01z1 {
	background: url("//www.oracleimg.com/us/assets/u01-redsprite.png") no-repeat 100% -1687px rgb(255, 255, 255);
}
.u01w7 {
	margin: 0px 1px 0px 0px; height: 55px; float: left; position: relative;
}
.u01z3 {
	left: 19px; width: 100%; height: 5px; bottom: -5px; display: none; position: absolute;
}
.u01z3opened {
	background: url("//www.oracleimg.com/us/assets/u01-redsprite.png") repeat-x 0px -10px; width: 972px; border-right-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; display: block; z-index: 2;
}
ul.u01nav li:hover .u01z2 {
	background: url("//www.oracleimg.com/us/assets/u01-redsprite.png") no-repeat -1px -1687px; height: 10px;
}
.u01nav > li.u01hover {
	background: url("//www.oracleimg.com/us/assets/u01-redsprite.png") no-repeat 100% -1634px rgb(255, 255, 255);
}
a.u01nav {
	color: rgb(57, 57, 57) !important; display: block;
}
a.u01nav:hover {
	color: rgb(105, 105, 105); text-decoration: none;
}
ul.u01nav li.u01hover a.u01nav {
	background: url("//www.oracleimg.com/us/assets/u01-redsprite.png") no-repeat -1px -1634px;
}
ul.u01nav li.u01hover div.u01w7 {
	background: url("//www.oracleimg.com/us/assets/u01-redsprite.png") no-repeat -1px -1634px;
}
ul.u01nav li:hover a.u01btn {
	text-decoration: none;
}
a.u01nav h3 {
	padding: 4px 9px 7px; height: 45px; text-align: center; font-size: 17px; vertical-align: middle; display: table-cell;
}
.f11 a.u01nav h3 {
	padding-top: 3px;
}
a.u01btn {
	margin: 1.2em 10px 0px; right: 0px; color: rgb(0, 0, 0); border-right-color: currentColor; border-right-width: 0px; border-right-style: none; display: block; position: relative;
}
.f11 a.u01btn {
	margin-top: 0.65em;
}
a.u01btn h3 {
	background: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 40%, rgb(224, 224, 224) 90%, rgb(255, 255, 255) 100%); padding: 4px 6px 2px; border-radius: 4px; border: 1px solid rgb(162, 162, 162); border-image: none; color: rgb(83, 86, 89); line-height: 14px; font-size: 17px; display: block; box-shadow: 0px 1px 1px 0px #fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: 0px 1px 1px 0px #fff; -webkit-box-shadow: 0px 1px 1px 0px #fff;
}
a.u01btn h3:hover {
	background: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 40%, rgb(236, 236, 236) 90%, rgb(255, 255, 255) 100%);
}
a.u01btn span {
	color: rgb(255, 0, 0);
}
li.u01btn {
	margin-right: 2px; float: left;
}
.u01menu {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(221, 221, 221) rgb(221, 221, 221); border-image: none; left: 19px; top: 61px; width: 972px; position: absolute; z-index: 2; box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.4); -moz-box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.4);
}
.u01w1 {
	background: url("//www.oracleimg.com/us/assets/u01-redsprite.png") repeat-x 0px -790px; overflow: hidden; margin-top: 5px; position: relative;
}
.u01w4 {
	padding: 10px 6px; width: 145px; float: left;
}
.f11w1 .u01 h5 {
	font-size: 12px;
}
.u01w1 h5 {
	background: none; padding: 0px; font-size: 12px; margin-bottom: 5px;
}
.u01w1 h5 a {
	background: none; padding: 0px; font-size: 12px; margin-bottom: 5px;
}
h5.u01headingonly {
	margin: 0px 0px 10px;
}
div.u01login {
	color: rgb(255, 255, 255);
}
div.u01login a {
	color: rgb(255, 255, 255);
}
div.u01login h5 {
	background: url("//www.oracleimg.com/us/assets/u01-u06-f01-min-sprite.png?v=2") no-repeat -175px 0px; margin: 0px; padding-top: 1px; padding-left: 15px;
}
div.u01login span {
	font-weight: normal;
}
div.u01login {
	background: linear-gradient(rgb(211, 211, 211) 0%, rgb(166, 166, 166) 100%); margin: 0px -12px 5px -9px; padding: 4px 0px 4px 10px; height: 13px; line-height: 13px;
}
.u01w1 ul {
	margin: 0px 0px 10px;
}
.u01w1 li {
	margin: 0px 0px 2px; line-height: 13px;
}
.u01w5 li {
	margin: 0px 0px 4px;
}
.u01w1 a {
	color: rgb(51, 51, 51) !important; line-height: 15px; font-size: 11.5px;
}
.u01w1 a:hover {
	color: rgb(31, 79, 130);
}
#u01 .u01w1 a.lnk-lock {
	background: none !important; padding-left: 4px !important;
}
#u01 .u01w1 a.lnk-lock::before {
	background: url("//www.oracleimg.com/us/assets/u01-u06-f01-min-sprite.png?v=2") no-repeat -510px -200px !important; width: 14px; padding-top: 14px; display: inline-block; content: "";
}
.u01w5 {
	background: rgb(255, 255, 255); margin: 0px 0px 7px; padding: 10px 10px 0px; border-radius: 4px; border: 1px solid rgb(213, 213, 213); border-image: none; overflow: hidden; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.u01w5bannerimg.u01w5 {
	padding: 6px;
}
.u01w5 h5.u01bar {
	background: -ms-linear-gradient(rgb(255, 49, 51) 0%, rgb(211, 31, 32) 100%); margin: -10px -10px 5px; padding: 6px 10px; color: rgb(255, 255, 255); font-size: 14px;
}
.u01w6 {
	background-position: 0px -90px; padding: 10px; width: 183px; float: left; background-image: url("//www.oracleimg.com/us/assets/u01-redsprite.png"); background-repeat: no-repeat;
}
.u01w6 ul:first-child {
	padding-top: 19px;
}
a.u01seeall {
	color: rgb(107, 107, 107);
}
#u01menucontent .u01menu {
	border-width: 0px 0px 1px; border-style: none none solid; border-color: currentColor currentColor rgb(186, 186, 186); border-image: none; left: 0px; top: 0px; display: block; position: relative;
}
#u01menucontent .u01toolmenu {
	border-width: 0px 0px 1px; border-style: none none solid; border-color: currentColor currentColor rgb(186, 186, 186); border-image: none; left: 0px; top: 0px; display: block; position: relative;
}
#u01menucontent .u01toolmenu li a {
	color: rgb(51, 51, 51);
}
#u01menucontent .u01toolmenu li a:hover {
	color: rgb(31, 79, 130);
}
#u01menucontent h2 {
	margin: 20px 0px 8px; clear: both;
}
.u01toolsw1 {
	margin: 0px auto; width: 974px;
}
.u01tools {
	padding: 0px; line-height: 15px; font-size: 13px; float: left; position: relative; z-index: 2; min-height: 47px;
}
.u01tools a {
	color: rgb(57, 57, 57) !important; padding-bottom: 4px !important; font-size: 13px; -webkit-font-smoothing: subpixel-antialiased;
}
.u01pfile li {
	color: rgb(57, 57, 57) !important; font-size: 13px !important; -webkit-font-smoothing: subpixel-antialiased;
}
.u01tools li {
	-webkit-font-smoothing: subpixel-antialiased;
}
.u01tools li:hover .u01toolmenu {
	display: block;
}
.u01toolmenu {
	background: rgb(255, 255, 255); padding: 12px; border: 1px solid rgb(154, 154, 154); border-image: none; top: 15px; right: 10px; display: none; position: absolute; z-index: 3; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1); -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
#u01menucontent .u01toolmenu {
	width: 948px; clear: both; margin-top: 20px; float: left;
}
.u01tools .u01toolmenu .u01w3 {
	width: 180px;
}
.u01toolmenu h5 {
	background: none; padding: 0px; color: rgb(255, 0, 0);
}
.u01toolmenu ul {
	padding: 0px 0px 10px;
}
.u01tools .u01toolmenu#menu-countryselect {
	right: -300px;
}
.u01tools .u01toolmenu#menu-countryselect .u01w3 {
	width: 640px;
}
.u01tools .u01toolmenu#menu-countryselect .u01w3 h5 {
	text-transform: uppercase; line-height: 15px; padding-bottom: 2px; margin-bottom: 4px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.u01tools .u01toolmenu#menu-countryselect ul {
	padding: 0px 40px 0px 0px; float: left;
}
#u01menucontent #menu-countryselect ul {
	padding: 0px; width: 19%; float: left;
}
.u01tools .u01toolmenu#menu-countryselect ul.last {
	padding-right: 0px;
}
.u01 .u01toolmenu li {
	padding: 0px; line-height: 15px; float: none;
}
.u01toolmenu a {
	color: rgb(51, 51, 51) !important; font-size: 11px !important;
}
.u01toolmenu a:hover {
	color: rgb(31, 79, 130) !important;
}
.u01tools .menu-multicol {
	right: -300px;
}
.u01tools .menu-multicol .u01w3 {
	width: 640px;
}
.u01tools .menu-multicol .u01w3 h5 {
	text-transform: uppercase; line-height: 15px; padding-bottom: 2px; margin-bottom: 4px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.u01tools .menu-multicol ul {
	padding: 0px 40px 0px 0px; float: left;
}
#u01menucontent .menu-multicol ul {
	padding: 0px; width: 19%; float: left;
}
.u01tools .menu-multicol ul.last {
	padding-right: 0px;
}
#pfile-wlcm {
	display: none;
}
#pfile-acct {
	display: none;
}
#pfile-sout {
	display: none;
}
#pfile-wlcm {
	top: 5px; width: 86%; height: 1.6em; color: rgb(115, 115, 115) !important; overflow: hidden; white-space: nowrap; position: absolute;
}
.f11 #pfile-wlcm {
	top: 1px;
}
.u01pfile {
	padding: 31px 0px 0px 196px; float: right;
}
.u01pfile li {
	float: left;
}
.u01navtools {
	padding: 31px 0px 0px; margin-right: 145px; float: right;
}
.u01navtools > li {
	float: left; position: relative;
}
.u01navtools > li > a {
	padding: 0px 14px 0px 0px;
}
.hasjs .u01navtools > li > a {
	background: url("//www.oracleimg.com/us/assets/u01-u06-f01-min-sprite.png?v=2") no-repeat 100% -18px;
}
.js .u01navtools > li > a {
	background: url("//www.oracleimg.com/us/assets/u01-u06-f01-min-sprite.png?v=2") no-repeat 100% -18px;
}
.u01navtools > li:hover > a {
	background-position: 100% 2px;
}
.u01pfile li {
	padding: 0px 9px 0px 0px; color: rgb(57, 57, 57);
}
.u01navtools > li {
	padding: 0px 9px 0px 0px; color: rgb(57, 57, 57);
}
.u01search {
	top: 24px; width: 130px; right: 12px; position: absolute;
}
.u01searchfltr {
	display: none;
}
.u01searchform {
	background: rgb(255, 255, 255); padding: 0px 16px 0px 0px; border: 1px solid rgb(193, 193, 193); border-image: none; display: block; position: relative; z-index: 2;
}
.u01searchform .textcnt {
	background: none; padding: 0px 22px 0px 7px; border: currentColor; border-image: none; width: 102px; height: 27px; color: rgb(134, 134, 134); line-height: 20px; font-family: Arial,Helvetica,sans-serif; font-size: 16px; font-weight: bold;
}
.u01searchbttn {
	background: url("//www.oracleimg.com/us/assets/u01-u06-f01-min-sprite.png?v=2") no-repeat -596px -42px; border: 0px currentColor; border-image: none; top: 3px; width: 20px; height: 20px; right: 3px; text-transform: uppercase; text-indent: -33333em; display: block; position: absolute; z-index: 2; cursor: pointer;
}
#u01searcherror {
	background: linear-gradient(rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 50%, rgba(255, 255, 255, 0.95) 100%); padding: 35px 5px 12px; border: 1px solid rgb(191, 191, 191); border-image: none; left: -4px; top: -4px; width: 126px; text-align: center; font-size: 10px; font-weight: bold; position: absolute; z-index: 1; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
}
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.ui-helper-reset {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; line-height: 1.3; font-size: 100%; text-decoration: none;
}
.ui-helper-clearfix::before {
	display: table; content: "";
}
.ui-helper-clearfix::after {
	display: table; content: "";
}
.ui-helper-clearfix::after {
	clear: both;
}
.ui-helper-clearfix {
	-ms-zoom: 1;
}
.ui-helper-zfix {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; opacity: 0;
}
.ui-state-disabled {
	cursor: default !important;
}
.u01search .ui-widget-overlay {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;
}
.u01search .ui-autocomplete {
	background: rgb(255, 255, 255); border: 1px solid rgb(187, 187, 187); border-image: none; left: 0px; top: 0px; width: 130%; position: absolute; z-index: 3; cursor: default; -ms-overflow-x: hidden; -ms-overflow-y: auto; max-height: 250px; box-shadow: 3px 3px 12px rgba(50,50,50,0.55); -moz-box-shadow: 3px 3px 12px rgba(50, 50, 50, 0.55); -webkit-box-shadow: 3px 3px 12px rgba(50, 50, 50, 0.55);
}
* html .u01search .ui-autocomplete {
	width: 1px; height: 250px;
}
.u01search .ui-menu {
	list-style: none; margin: 0px; padding: 2px 0px; display: block;
}
.u01search .ui-menu .ui-menu {
	margin-top: -3px; position: absolute;
}
.u01search .ui-menu .ui-menu-item {
	margin: 0px; padding: 0px; width: 100%; -ms-zoom: 1;
}
.u01search .ui-menu .ui-menu-divider {
	border-width: 1px 0px 0px; margin: 5px -2px; height: 0px; line-height: 0; font-size: 0px;
}
.u01search .ui-menu .ui-menu-item {
	padding: 6px 12px; color: rgb(51, 51, 51) !important; font-weight: normal; text-decoration: none; display: block; -ms-zoom: 1;
}
.u01search .ui-menu .ui-state-focus.ui-menu-item {
	background: rgb(232, 232, 232); color: rgb(31, 79, 130) !important; font-weight: normal;
}
.u01search .ui-menu .ui-state-active.ui-menu-item {
	background: rgb(232, 232, 232); color: rgb(31, 79, 130) !important; font-weight: normal;
}
.u01search .ui-menu .ui-menu-item:hover {
	background-color: rgb(238, 238, 238);
}
.u01logo {
	background: linear-gradient(rgb(193, 0, 0) 0%, red 100%); top: 0px; width: 176px; height: 108px; text-indent: -2000px; overflow: hidden; position: absolute; box-shadow: 10px 0px 10px -10px rgba(0,0,0,0.4), -10px 0px 10px -10px rgba(0,0,0,0.4); -moz-box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.4), -10px 0 10px -10px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.4), -10px 0 10px -10px rgba(0, 0, 0, 0.4);
}
.u01logo a {
	padding: 46px 21px !important; text-indent: -30000px; display: block; min-height: 16px;
}
.u01logo a span {
	background: url("//www.oracleimg.com/us/assets/u01-u06-f01-min-sprite.png?v=2") no-repeat 0px 0px; padding: 0px !important; width: 134px; height: 16px; display: block; -moz-outline: 0;
}
.u01logoinline .u01logo img {
	padding: 0px !important; width: 134px; height: 43px; float: left; -moz-outline: 0;
}
.u01logoinline .u01logo a {
	padding: 32px 21px 33px !important; min-height: 43px;
}
.u01logoinline .u01mlogo img {
	width: 100%; float: left;
}
.u01logoinline .u01mlogo a {
	background: none; margin: 10px 28px; width: 109px; height: auto; overflow: hidden;
}
.block {
	display: block !important;
}
.u01ftadj.u01tools {
	font-size: 12px !important;
}
.u01ftadj.u01tools > ul > li {
	font-size: 12px !important;
}
.u01ftadj.u01tools > ul > li {
	font-size: 12px !important;
}
.u01ftadj.u01tools a {
	font-size: 12px !important;
}
.u01fmadj.u01nav h3 {
	font-size: 15px;
}
.u01fmadj.u01nav a.u01btn h3 {
	font-size: 15px;
}
.u01mmenu {
	text-indent: -999px; display: none;
}
.u01mlogo {
	text-indent: -999px; display: none;
}
.u01msearch {
	text-indent: -999px; display: none;
}
.u01w9 .u01search {
	display: none;
}
.u01toolsw1::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
.no-js a.u01btn {
	margin-top: 0.45em;
}
.u01w5bannerimg img {
	visibility: hidden;
}
@media only screen and (max-width:974px)
{
.u01w5bannerimg img {
	
}
}
@media only screen and (max-width:600px)
{
.u01logoinline .u01mlogo a {
	margin: 9px 8px; width: 88px;
}
}
.u01nav > li.u01sansmenu:hover {
	
}
li.u01sansmenu .u01z1 {
	display: none !important;
}
ul.menu {
	width: 100%; float: left; z-index: 1;
}
ul.menu li {
	float: left; position: static; z-index: 2;
}
ul.menu li a {
	clear: both; display: block; position: relative; z-index: 2;
}
ul.menu .submenu {
	float: none; display: none; white-space: nowrap; position: absolute; z-index: 2;
}
ul.menu .submenu .submenu {
	left: 100%; top: 0px; z-index: 2;
}
ul.menu li.hover {
	position: relative; z-index: 2;
}
ul.menu li:hover {
	position: relative; z-index: 2;
}
ul.menu li.hover .submenu {
	display: block; position: absolute; z-index: 2;
}
ul.menu li:hover .submenu {
	display: block; position: absolute; z-index: 2;
}
ul.menu li.hover .submenu .submenu {
	display: none !important;
}
ul.menu li:hover .submenu .submenu {
	display: none !important;
}
ul.menu .submenu li.hover .submenu {
	display: block !important; z-index: 2;
}
ul.menu .submenu li:hover .submenu {
	display: block !important; z-index: 2;
}
* html ul.menu .submenu {
	position: absolute; z-index: 2;
}
* html ul.menu .submenu .submenu {
	position: absolute; z-index: 2;
}
.worldwide {
	line-height: 15px; font-family: arial,helvetica,sans-serif; font-size: 10px;
}
a.worldwide:link {
	color: rgb(0, 0, 0); text-decoration: none;
}
a.worldwide:visited {
	color: rgb(0, 0, 0); text-decoration: none;
}
a.worldwide:hover {
	color: rgb(255, 0, 0); text-decoration: none;
}
a.legalese:link {
	margin: 0px; padding-left: 12px;
}
a.legalese:visited {
	margin: 0px; padding-left: 12px;
}
div#container {
	padding: 20px 0px; clear: both;
}
div#container::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
div#leftColumn {
	width: 180px; float: left;
}
div#middleColumn {
	margin: 0px 200px;
}
div#rightColumn {
	width: 180px; float: right;
}
ul#navigation {
	background: url("//www.oracleimg.com/us/assets/navigation-item-background.png") repeat-x left bottom; height: 43px; font-family: Arial; font-size: 12px; font-weight: bold; position: relative; z-index: 50; min-width: 951px;
}
ul#navigation li {
	height: 100%; float: left;
}
ul#navigation li p {
	height: 100%; float: left;
}
ul#navigation li p a {
	height: 100%; float: left;
}
ul#navigation li a {
	padding: 0px 20px; color: rgb(0, 0, 0); text-decoration: none;
}
ul#navigation li.top-level p a {
	background: url("//www.oracleimg.com/us/assets/separator-separator.png") no-repeat right top; padding: 12px 15px 0px; height: 27px;
}
ul#navigation li.top-level p a.noimg {
	background: none;
}
ul#navigation li.top-level p a:hover {
	color: rgb(255, 0, 0); text-decoration: underline;
}
ul#navigation li.top-level p span {
	margin: 0px !important; height: auto; line-height: 13px; padding-bottom: 12px;
}
ul#navigation li.nav2line p a {
	height: 34px; padding-top: 5px;
}
ul#navigation li.special {
	float: right;
}
ul#navigation a {
	text-decoration: none;
}
ul#navigation li.special a {
	border: currentColor; border-image: none;
}
ul#navigation li p a span {
	text-align: center; display: block;
}
ul#navigation li {
	background: url("//www.oracleimg.com/us/assets/navigation-item-background.png") repeat-x left bottom;
}
ul#navigation li.last.special {
	background: none;
}
ul#navigation li:last-child.special {
	background: none;
}
ul#navigation li.last p {
	background: url("//www.oracleimg.com/us/assets/navigation-last-button-cap.png") no-repeat 100% 100% !important; position: relative;
}
ul#navigation li.active.first {
	background-position: 0px 0px; background-color: rgb(255, 255, 255);
}
ul#navigation li:first-child.active {
	background-position: 0px 0px; background-color: rgb(255, 255, 255);
}
ul#navigation li.hover {
	background-position: 0px 0px; background-color: rgb(255, 255, 255);
}
ul#navigation li:hover {
	background-position: 0px 0px; background-color: rgb(255, 255, 255);
}
.greydivider {
	margin-top: -10px; margin-bottom: -10px;
}
ul#navigation div.submenu li {
	border: currentColor !important; border-image: none !important; float: none;
}
ul#navigation div.submenu li p {
	border: currentColor !important; border-image: none !important; float: none;
}
ul#navigation div.submenu li p a {
	border: currentColor !important; border-image: none !important; float: none;
}
ul#navigation div.submenu {
	background: rgb(255, 255, 255); border-width: medium 1px 0px; border-style: none solid; border-color: currentColor rgb(183, 183, 183); border-image: none; left: 0px; top: 0px; font-weight: normal; margin-top: 39px; margin-left: -1px; z-index: 1000; min-width: 150px; max-width: 300px;
}
ul#navigation div.submenu .bottomleft {
	background: url("//www.oracleimg.com/us/assets/flyout-shadow-left.png") no-repeat 0px 0px; width: 15px; height: 30px; clear: both; margin-top: 15px; margin-bottom: -43px; margin-left: -16px; float: left; position: relative;
}
ul#navigation div.submenu .bottomcenter {
	background: url("//www.oracleimg.com/us/assets/flyout-shadow-bg.png") repeat-x 0px 0px; width: 382px; height: 30px; margin-left: 15px; position: absolute;
}
ul#navigation div.submenu .bottomright {
	background: url("//www.oracleimg.com/us/assets/flyout-shadow-right.png") no-repeat 0px 0px; width: 15px; height: 30px; margin-right: -15px; float: right; position: relative;
}
ul#navigation div.submenu .threebottomcenter {
	background: url("//www.oracleimg.com/us/assets/flyout-shadow-bg.png") repeat-x 0px 0px; width: 565px; height: 30px; margin-left: 15px; position: absolute;
}
ul#navigation div.submenuhead {
	width: 184px; float: right;
}
ul#navigation div.submenuhead .submen {
	width: 184px; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;
}
ul#navigation div.submenuhead .submen span {
	background: url("//www.oracleimg.com/us/assets/whatsnew-header.png") no-repeat; border: 0px currentColor; border-image: none; width: 184px; height: 22px; color: rgb(255, 255, 255); line-height: 20px; padding-left: 5px; font-weight: bold; margin-top: 0px; margin-bottom: 0px; display: block;
}
ul#navigation div.submenuhead dl {
	padding-bottom: 6px; border-right-color: rgb(221, 221, 221); border-left-color: rgb(221, 221, 221); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
ul#navigation div.submenuhead dd a img {
	margin-left: -12px;
}
ul#navigation div.submenuhead dd {
	margin-left: 10px;
}
ul#navigation div.submenuhead dd:first-child {
	padding-top: 10px;
}
ul#navigation div.submenuhead .subbottomcenter {
	background: url("//www.oracleimg.com/us/assets/whatsnew-bottom.png") no-repeat left bottom; width: 184px; height: 8px; padding-top: 5px; margin-left: -1px; float: left; position: relative;
}
ul#navigation div.submenu * {
	background: none;
}
ul#navigation div.submenu a {
	border: currentColor; border-image: none; display: block;
}
ul#navigation div.submenu li.hover {
	background: rgb(183, 183, 183);
}
ul#navigation div.submenu li:hover {
	background: rgb(183, 183, 183);
}
ul#navigation div.submenu li.hover a {
	color: rgb(255, 255, 255);
}
ul#navigation div.submenu li:hover a {
	color: rgb(255, 255, 255);
}
ul#navigation div.submenu li.hover ul * {
	color: rgb(0, 0, 0) !important;
}
ul#navigation div.submenu li:hover ul * {
	color: rgb(0, 0, 0) !important;
}
ul#navigation div.submenu li {
	width: 100%; height: 15px; line-height: 5px; clear: left; float: left; display: block;
}
ul#navigation li.top-level div.submenu {
	padding: 15px; max-width: none; opacity: 0.95;
}
ul#navigation li.top-level div.two-columns.submenu {
	width: 380px;
}
ul#navigation li.top-level div.three-columns.submenu {
	width: 563px;
}
ul#navigation li.top-level div.anchor-right.submenu {
	left: auto; right: 0px;
}
ul#navigation li.top-level div.submenu div.left-column {
	padding: 3px 0px; width: 185px; border-right-color: rgb(221, 221, 221); border-right-width: 0px; border-right-style: solid; float: left;
}
ul#navigation li.top-level div.submenu div.right-column {
	padding: 3px 0px 10px 15px; width: 175px; margin-left: -1px; border-left-color: rgb(221, 221, 221); border-left-width: 0px; border-left-style: solid; float: left; _clear: right;
}
ul#navigation li.top-level div.submenu div.right-colnoborder {
	padding: 3px 0px 5px; width: 175px; margin-left: -1px; float: left; _clear: right;
}
ul#navigation li.top-level div.submenu div.last-column {
	padding: 3px 0px 10px 30px; width: 175px; margin-left: -1px; float: left; _clear: right;
}
ul#navigation li.top-level div.submenu dl {
	margin: 0px; font-size: 11px;
}
ul#navigation li.top-level div.submenu dl:last-child {
	margin: 0px;
}
ul#navigation li.top-level div.submenu dl dt {
	margin: 0px 0px 8px; font-size: 12px; font-weight: bold;
}
ul#navigation li.top-level div.submenu dl dt a {
	padding: 0px;
}
ul#navigation li.top-level div.submenu dl dt a:hover {
	color: rgb(255, 0, 0); text-decoration: underline;
}
ul#navigation li.top-level div.submenu dl dd {
	line-height: 13px; text-indent: 0px; padding-left: 10px; font-size: 11px;
}
ul#navigation li.top-level div.submenu dl dd a {
	padding: 0px;
}
ul#navigation li.top-level div.submenu dl dd a:hover {
	color: rgb(255, 0, 0); text-decoration: underline;
}
ul#navigation li.top-level div.submenu dl dd a.more {
	color: rgb(153, 153, 153);
}
ul#navigation li.top-level div.submenu dl dd:last-child {
	margin-bottom: 20px;
}
ul#navigation li.top-level div.submenu dl dd {
	
}
ul#navigation div.submenu .partner_bottomleft {
	background: url("//www.oracleimg.com/us/assets/partnerbottom-left.png") no-repeat 0px 0px; width: 15px; height: 30px; clear: left; margin-top: 15px; margin-bottom: -43px; margin-left: -16px; float: left;
}
ul#navigation div.submenu .partner_bottomcenter {
	background: url("//www.oracleimg.com/us/assets/partnerbottom-center.png") repeat-x 0px 0px; width: 382px; height: 30px; margin-left: 15px;
}
ul#navigation div.submenu .partner_bottomright {
	background: url("//www.oracleimg.com/us/assets/partnerbottom-right.png") no-repeat 0px 0px; width: 15px; height: 30px; margin-right: -15px; float: right;
}
.lock {
	margin: 0px; padding: 0px; left: 152px; top: 1px; position: absolute;
}
ul#navigation li.top-level div.submenu dl dd a:link .seeAll {
	color: rgb(102, 102, 102); font-size: 11px;
}
ul#navigation li.top-level div.submenu dl dd a:visited .seeAll {
	color: rgb(102, 102, 102); font-size: 11px;
}
ul#navigation li.top-level div.submenu dl dd a:hover .seeAll {
	color: rgb(255, 0, 0);
}
ul#navigation li.top-level div.submenu dl dd a:active .seeAll {
	color: rgb(255, 0, 0);
}
ul#navigation li#oracleTechNetwork {
	background: url("//www.oracleimg.com/us/assets/navigation-pill.png") no-repeat; top: 7px; width: 180px; height: 26px; right: 9px; position: absolute;
}
ul#navigation li#oracleTechNetwork p {
	padding-right: 15px; font-size: 11px; float: none;
}
ul#navigation li#oracleTechNetwork p a {
	padding: 6px 0px 0px; border: 0px currentColor; border-image: none; width: 100%; text-align: center; display: block;
}
ul#navigation li#oracleTechNetwork:hover {
	background-position: 0px -26px; height: 32px; overflow: visible;
}
ul#navigation li.hover#oracleTechNetwork {
	background-position: 0px -26px; height: 32px; overflow: visible;
}
ul#navigation li#oracleTechNetwork div.submenu {
	margin-top: 32px;
}
* html ul#navigation li#oracleTechNetwork {
	overflow: hidden;
}
* html ul#navigation li div.submenu {
	width: auto !important;
}
* html ul#navigation li div.two-columns.submenu {
	width: 360px !important;
}
* html ul#navigation .submenu li {
	width: 100%; height: 27px; line-height: 27px; clear: both; float: left; display: block;
}
* html ul#navigation .submenu {
	width: 280px !important; white-space: normal;
}
#navigation .login_required {
	padding: 4px 0px; height: 16px; color: rgb(255, 255, 255); font-weight: bold; float: left;
}
#navigation .divider_bar {
	background: url("//www.oracleimg.com/us/assets/bg-left-cap.gif") repeat-x !important; margin: 0px -15px; padding: 0px 0px 0px 15px; clear: both;
}
*:first-child + html ul#navigation .submenu .submenu {
	width: 100%; white-space: normal;
}
*:first-child + html ul#navigation .submenu li {
	width: 280px;
}
ul#navigation li.top-level div.divider.two-columns.submenu {
	background: url("//www.oracleimg.com/us/assets/partners-flyout-bg.png") repeat-y right top rgb(245, 245, 245); top: 215px; width: 380px;
}
* html ul#navigation li.top-level div.divider.two-columns.submenu {
	background: url("//www.oracleimg.com/us/assets/partners-flyout-bg.png") repeat-y right top rgb(245, 245, 245); top: 205px; width: 380px; _top: 220px;
}
ul#navigation li.top-level div.heading_hornav {
	background: url("//www.oracleimg.com/us/assets/bg-left-cap.gif") repeat-x left; left: 0px; top: -2px; width: 404px; height: 24px; color: rgb(255, 255, 255); padding-top: 6px; padding-left: 6px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; position: absolute;
}
* html ul#navigation li.top-level div.heading_hornav {
	background: url("//www.oracleimg.com/us/assets/bg-left-cap.gif") repeat-x left; left: 0px; top: 0px; width: 404px; height: 24px; color: rgb(255, 255, 255); padding-top: 4px; padding-left: 6px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; position: absolute; _top: -1px;
}
ul#navigation li.top-level div.heading_hornav span {
	color: rgb(255, 255, 255); font-size: 12px;
}
ul#navigation li.top-level span.image_right {
	left: 375px; top: 15px; height: 19px; padding-left: 0px; position: absolute;
}
ul#navigation li#left_cap {
	background: url("//www.oracleimg.com/us/assets/mosaic-homebutton.png") -2px -46px;
}
ul#navigation li.hover#left_cap {
	background: url("//www.oracleimg.com/us/assets/mosaic-homebutton.png") -2px -2px rgb(255, 255, 255);
}
ul#navigation li#left_cap:hover {
	background: url("//www.oracleimg.com/us/assets/mosaic-homebutton.png") -2px -2px rgb(255, 255, 255);
}
.search_position {
	margin: 7px 3px 16px 16px; display: none;
}
#serch_txtbox {
	width: 174px; position: relative; z-index: 1940;
}
#serch_txtbox .search_text {
	float: left;
}
#serch_txtbox .textbg {
	background: url("//www.oracleimg.com/us/assets/text-bg.gif") repeat-x 0px 0px; border: currentColor; border-image: none; width: 133px; height: 22px; margin-top: 0px; float: left;
}
#serch_txtbox .textcnt {
	background: none; border: currentColor; border-image: none; width: 133px; height: 12px; color: rgb(123, 124, 124); font-family: Verdana, Geneva, sans-serif; font-size: 11px; margin-top: 3px;
}
#serch_txtbox .txtbxAlign {
	padding: 10px 0px 0px; border: currentColor; border-image: none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; position: relative;
}
#serch_txtbox .search_button {
	width: 21px; height: 22px; float: left;
}
#panelDiv_search {
	top: 26px; width: 183px; visibility: hidden; position: absolute; z-index: 1900;
}
#panelDiv_search .TopleftCurv {
	background: url("//www.oracleimg.com/us/assets/sugession-curvtopleft.gif") no-repeat 0px 0px; width: 6px; height: 6px; float: left;
}
#panelDiv_search .centerTop {
	width: 171px; height: 1px; border-top-color: rgb(171, 171, 171); border-top-width: 1px; border-top-style: solid; float: left;
}
#panelDiv_search .ToprightCurv {
	background: url("//www.oracleimg.com/us/assets/sugession-curvtopright.gif") no-repeat 0px 0px; width: 6px; height: 6px; float: left;
}
#panelDiv_search .BottomleftCurv {
	background: url("//www.oracleimg.com/us/assets/flyout-shadow-left.png") no-repeat 0px 0px; width: 15px; height: 30px; float: left;
}
#panelDiv_search .centerBottom {
	background: url("//www.oracleimg.com/us/assets/flyout-shadow-bg.png") repeat-x 0px 0px; width: 153px; height: 30px; float: left;
}
#panelDiv_search .BottomrightCurv {
	background: url("//www.oracleimg.com/us/assets/flyout-shadow-right.png") no-repeat 0px 0px; width: 15px; height: 30px; float: right;
}
#panelDiv_search .contentBg {
	background: rgb(255, 255, 255); padding: 35px 5px 5px !important; text-align: left; color: rgb(0, 0, 0); font-size: 11px; margin-top: 3px; border-right-color: rgb(171, 171, 171); border-left-color: rgb(171, 171, 171); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; opacity: 0.95; _margin-top: -9px;
}
#panelDiv_search .contentBg input {
	margin-bottom: 5px;
}
#panelDiv_search .contentBg ul li {
	font-size: 11px;
}
.navigator div {
	background: url("//www.oracleimg.com/us/assets/hp-feature-sprite.png") no-repeat 0px 0px; overflow: hidden; cursor: pointer;
}
.navigator #prev:hover {
	background-position: 0px 0px;
}
.navigator #prev {
	background-position: 0px -25px; width: 18px; height: 25px;
}
.navigator #next:hover {
	background-position: 0px -50px;
}
.navigator #next {
	background-position: 0px -75px; width: 18px; height: 25px;
}
.navigator div.one_off {
	background-position: 0px -100px; width: 18px; height: 25px;
}
.navigator div.two_off {
	background-position: 0px -125px; width: 18px; height: 25px;
}
.navigator div.three_off {
	background-position: 0px -150px; width: 18px; height: 25px;
}
.navigator div.four_off {
	background-position: 0px -175px; width: 18px; height: 25px;
}
.navigator div.five_off {
	background-position: 0px -200px; width: 18px; height: 25px;
}
.navigator div.one_off:hover {
	background-position: 0px -225px;
}
.navigator div.two_off:hover {
	background-position: 0px -250px;
}
.navigator div.three_off:hover {
	background-position: 0px -275px;
}
.navigator div.four_off:hover {
	background-position: 0px -300px;
}
.navigator div.five_off:hover {
	background-position: 0px -325px;
}
.navigator div.one_on {
	background-position: 0px -350px; width: 18px; height: 25px;
}
.navigator div.two_on {
	background-position: 0px -375px; width: 18px; height: 25px;
}
.navigator div.three_on {
	background-position: 0px -400px; width: 18px; height: 25px;
}
.navigator div.four_on {
	background-position: 0px -425px; width: 18px; height: 25px;
}
.navigator div.five_on {
	background-position: 0px -450px; width: 18px; height: 25px;
}
#bcVideoPlayer {
	background: rgb(255, 255, 255); border: 1px solid rgb(153, 153, 153); border-image: none; left: 50%; top: 50%; width: 670px; height: 460px; margin-top: -250px; margin-left: -325px; display: none; position: fixed; z-index: 30001;
}
.bcvideoclose {
	padding-top: 5px; padding-bottom: 10px; font-size: 12px; float: right;
}
.videotext b {
	color: rgb(0, 0, 0); font-size: 14px;
}
.videotext img {
	position: absolute;
}
.bcvideoclose a {
	color: rgb(0, 0, 0); text-decoration: none;
}
.ironman2subfeaturetext {
	padding: 0px 5px 0px 10px; width: 135px; float: left;
}
.ironman2listitems {
	padding-top: 15px; clear: both; display: block;
}
.ironman2listitems ul {
	list-style: none; margin: 10px; padding: 0px;
}
.ironman2listitems li {
	background: url("//www.oracleimg.com/us/assets/bulletsquareblk.gif") no-repeat 0px 0px; margin: 0px 5px 10px 0px; padding: 0px 0px 0px 9px; color: rgb(0, 0, 0); font-size: 12px;
}
.ironman2listitems a:link {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.ironman2listitems a:visited {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.ironman2listitems a:hover {
	color: rgb(255, 0, 0); text-decoration: underline;
}
.tabletop b {
	color: rgb(0, 0, 0); padding-left: 10px; font-size: 12px;
}
* html #bcVideoPlayer {
	position: absolute;
}
*.sidebox {
	margin-right: -7px;
}
*.lightbox_overlay {
	left: 0px; top: 0px; overflow: auto; display: none; position: absolute; z-index: 1001; opacity: 0.6; background-color: black; -moz-opacity: 0.6;
}
.thumbnail {
	margin-top: -10px; margin-left: 350px; position: absolute;
}
.thumbnail img {
	cursor: pointer;
}
.videoLightbox {
	display: none;
}
.videoLightboxh1 {
	margin: 0px; padding: 0px; font-size: 16px; font-weight: bold; background-image: none;
}
.videoLightboxh2 {
	margin: 0px; padding: 0px; color: rgb(255, 0, 0); font-size: 12px; font-weight: bold; background-image: none;
}
.videoLightboxh2 a:link {
	color: rgb(255, 0, 0); text-decoration: none;
}
.videoLightboxh2 a:visited {
	color: rgb(255, 0, 0); text-decoration: none;
}
.videoLightboxh2 a:hover {
	color: rgb(255, 0, 0); text-decoration: underline;
}
.videoLightbox p {
	margin: 0px; color: rgb(0, 0, 0); font-size: 12px;
}
.videolink {
	cursor: pointer;
}
div.sidebox .videolink {
	text-decoration: none; cursor: pointer;
}
.header {
	height: auto !important;
}
.header::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
#breadCrumb::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}
#Wrapper_FixedWidth_Header {
	margin: 0px;
}
.header #breadCrumb {
	margin: 0px 0px 4px !important;
}
.tdContentPadding {
	padding-left: 4px;
}
a.navlink:hover {
	color: rgb(102, 102, 102) !important;
}
.sidebar_contentVideo p {
	margin-bottom: 0px;
}
