body {
    width:700px;
    margin-left: 50px;
}

BODY {
    font-size: 15px;
    line-height: 20px;
}

BODY {
    font-family: DejaVu Serif, Bitstream Vera Serif, Georgia, serif;
}

BODY {
    line-height: 1.4;
}

BODY {
    text-align: left;
}